<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= t('doorkeeper.layouts.admin.title') %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="d-flex flex-column">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <%= link_to t('doorkeeper.layouts.admin.nav.oauth2_provider'), oauth_applications_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-toggler">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if request.path == oauth_applications_path %>">
        <%= link_to t('doorkeeper.layouts.admin.nav.applications'), oauth_applications_path, class: 'nav-link' %>
      </li>
      <% if respond_to?(:root_path) %>
        <li class="nav-item">
          <%= link_to t('doorkeeper.layouts.admin.nav.home'), root_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/users/edit">Edit</a>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </div>
    <% else %>
      <a class="btn btn-secondary" type="button" href="/users/sign_in">Login</a>
    <% end %>
  </div>
</nav>

<div class="flex-shrink-0">
  <div class="doorkeeper-admin container">
    <%- if flash[:notice].present? %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end -%>

    <%= yield %>
  </div>
</div>

<footer class="footer mt-auto py-3">
  <div class="container">
    Help us develop at <a href="https://github.com/i544c/fun-oauth" target="_blank">i544c/fun-oauth</a>
  </div>
</footer>
</body>
</html>
